<H3> SDMCET</H3>

<!--<h2> Let us engineer a better world together!!!</h2>-->



<p>

    Shri Dharmasthala Manjunatheshwara College of Engineering & Technology, 
    Dharwad was established in the year 1979 under the flagship of SDME Society 
    and has grown into one of the nationally acclaimed premier engineering institutions in the country. 
    Under the expert leadership and guidance of the management, Principal and competent faculty, 
    SDM College of Engineering and Technology is making successful strides towards new horizons and aims to scale greater heights. 
    Institution has been consistently rated high, ranking within 50, amongst top private engineering colleges of the country.
</p>

<!--<h4><b>CEO: Warren Harris (9 Sept 2014–present)</b></h4>

<h4>Headquarters: Pune</h4>

<h4><em>Number of employees: 7,900 (2021)</em></h4>

<h3>Founded: 1989 </h3>

<h3>Subsidiaries: Tata Technologies SRL, Tata Technologies Pte Ltd, MORE

Parent organizations: Tata Motors, Tata Group

</h3>-->