<h1> Welcome SDMCET</h1>

<!--<h2>Pls click on about button to know more about us</h2>

<h2>Pls click on contact button to connect with us</h2>




<p>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quam itaque illum maxime amet? Quas sequi repellat inventore animi adipisci placeat repellendus? Ipsam ea ad vero harum quae vel adipisci?

Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus distinctio, voluptas natus libero quas voluptates ea beatae nobis atque velit, architecto adipisci minus! Aliquid temporibus excepturi voluptates! Repellendus, harum porro.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum amet perferendis, quidem quasi dolore cupiditate quo ex pariatur porro omnis esse unde corrupti nesciunt, illum aspernatur! Ratione nisi sapiente qui.

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, modi placeat. Dolores similique fugiat officiis deleniti provident veniam ad. Dolores modi ab delectus blanditiis inventore nisi repellendus nesciunt dolorem atque?

Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil aliquid doloremque hic iure, non earum id ex a ea. Nulla minus quaerat reprehenderit laboriosam consequuntur, ipsum magnam ab nostrum delectus.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui officia consequatur earum in soluta recusandae iure! Laudantium minima libero omnis dolores, esse harum, eveniet aliquam consequuntur dolorem alias, atque consequatur.s



</p>-->